<div id="post">
<h2><%= link_to_unless_current post.title, post %></h2>
<%= simple_format post.content %> 
<% post.attachments.each do |attachment|%>
<%= image_tag attachment.attachment.url(:thumb) %>
<% end %>
<% if post.user != nil%>
Author:<%=User.find(post.user_id).login %> | Comment Num: <%= Comment.find_all_by_post_id(post.id).size%>
<% end %>

</div>
