<p id="notice"></p>

<%= render :partial => @post %>
<h2>Comment</h2>
<% @post.comments.each do |comment|%>
<div id="comment">
<p>
<strong>Commented: <%= comment.created_at %>  Author:<%= User.find(comment.user_id).login %></strong>
<br />
<%= comment.content %>
</p>
</div>
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
<p>
  <%= f.label :content, "New Comment" %>
  <%= f.text_area :content %>
</p>
<% if session[:user_name] != nil %> 
<p><%= f.submit "Add comment" %></p>
<% end %>
<% end %>
<% if session[:user_id] == @post.user_id && @post.user != nil %> 
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
